<form [formGroup]="group">
  <mat-card>
    <mat-card-title>Welcome to the SureApp account creation workflow</mat-card-title>
    <mat-card-content>
      <p> We will help you create your new account in just a few short steps. </p>
      <p> First you will need to help us: </p>
      <ol>
        <li>Identify you</li>
        <li>Identify your producer record in the National Insurance Producer Registry (NIPR) database</li>
      </ol>
      <p> Use one of the available identification methods to provide the data. Then press <b>Next.</b></p>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>


  <mat-tab-group>
    <mat-tab label="By SSN">
      <div>
        <mat-form-field hintLabel="Max 10 characters">
          <input matInput #input maxlength="10" placeholder="SSN" formControlName="ssnCtrl" [(ngModel)]="ssn">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="surCtrl" [(ngModel)]="name">
        </mat-form-field>
      </div>

    </mat-tab>
    <mat-tab label="By license #">
      <div>
        <mat-form-field>
          <input matInput #input placeholder="Individual Resident License State"
                 formControlName="stateCtrl" [(ngModel)]="state">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Individual Resident State License #" formControlName="licenseCtrl"
                 [(ngModel)]="license">
        </mat-form-field>
      </div>

    </mat-tab>
  </mat-tab-group>

  <mat-divider></mat-divider>

  <div display="inline-block">
    <button (click)="nextButton()" align="right" mat-button>Next</button>
  </div>
</form>
