<form [formGroup]="group">
<mat-form-field>
<input matInput required
       type="date"
       placeholder="Date of Birth"
       formControlName="dobCtrl">
</mat-form-field>
<div>
  <button mat-button matStepperNext>Next</button>
</div>
</form>
