<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Identification</ng-template>
      <app-process-getaccount></app-process-getaccount>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Create your account</ng-template>
      <app-process-logindetails></app-process-logindetails>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review & Confirmation</ng-template>
    <app-process-review></app-process-review>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Activation</ng-template>
    <app-process-activation></app-process-activation>
  </mat-step>
</mat-horizontal-stepper>
