<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <app-process-getdetails [group]="firstFormGroup" [stepper]="stepper"></app-process-getdetails>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <app-process-dobverification [group]="secondFormGroup"></app-process-dobverification>
    </mat-step>
    <mat-step>
      <app-nipr-confirmation cdkScrollable></app-nipr-confirmation>
    </mat-step>
  </mat-horizontal-stepper>
</div>
