<div class="scroll-box">
  <div *ngIf="carrier; then carrierBlock"></div>
  <div *ngIf="agency; then agencyBlock"></div>
  <div *ngIf="independent; then independentBlock"></div>

  <ng-template #independentBlcck>
    <form id="producerAgreement">
      <p>AUTHORIZATION TO OBTAIN PRODUCER DATABASE REPORT</p>
      <p>As part of your initial registration with SureLC, you hereby authorize us to pull your
        Producer Database (“PDB”) report from the National Insurance Producer Registry (“NIPR”). Every
        licensed producer has a PDB report maintained by NIPR. NIPR is a subsidiary of the National
        Association of Insurance Commissioners (“NAIC”). The PDB consolidates information on each
        producer’s licensing information as updated on a regular basis by participating state insurance
        departments. The PDB also includes data from external sources such as the Regulatory Information
        Retrieval System to provide a more comprehensive producer profile. Currently, the NIPR includes
        information in the PDB from all 50 states, the District of Columbia and Puerto Rico. According
        to NIPR, the following information is included in the PDB: (a) General demographic information
        relating to all producers, such as name and addresses, (b) License information, such as states
        licensed, license numbers, authorized lines and license status, (c) Appointment information,
        such as company appointments, effective date, termination date and termination reason, and (d)
        Regulatory actions (if taken). For more information, please visit NIPR website at
        (http://www.nipr.com/new_nipr/index_nipr_producer_database.htm)
      </p>
      <p>There is no charge to you for us to obtain your PDB report. The NIPR fee is
        covered by your agency.
      </p>
      <p>IMPORTANT: The information contained in the PDB is subject to the Fair Credit Reporting
        Act (“FCRA”). Only entities with a "permissible purpose” are permitted to access a consumer’s
        credit report. A report may be accessed in accordance with the written instructions of the
        consumer to whom it relates. The authorization you give us constitutes the permissible purpose
        to access to your PDB. For more information please review applicable FCRA provisions at
        (http://www.nipr.com/new_nipr/documents/fcra_user_notice.pdf)
      </p>
      <p>By checking “I accept” you hereby acknowledge that you have read and understood the
        above, and that you consent to and authorize us to obtain your PDB report from NIPR.
    </form>
  </ng-template>


  <ng-template #agencyBlock>
    <form id="adminAgreementAgencyPayment">
      <p>AUTHORIZATION TO OBTAIN PRODUCER DATABASE REPORT
      </p>
      <p>I certify that I advised the producer of his/her rights and
        responsibilities regarding the retrieval of his PDB under the FCRA.
        The producer delegated authority to me to consent to the retrieval of his/her PDB report by SuranceBay.
        I have documented the producer's verbal or written consent.
      </p>
      <p>Your agency covers [[PLACEHOLDER]] of the NIPR fee for the PDB report.
      </p>
      <p>By clicking “I accept” you hereby acknowledge that you have read and understood the
        above, and that you consent to and authorize us to obtain [[FULL NAME]]'s PDB report from NIPR.
    </form>
  </ng-template>

  <ng-template #carrierBlock>
    <form id="adminAgreementCarrierPayment">
      <p>AUTHORIZATION TO OBTAIN PRODUCER DATABASE REPORT
      </p>
      <p>I certify that I advised the producer of his/her rights and
        responsibilities regarding the retrieval of his PDB under the FCRA.
        The producer delegated authority to me to consent to the retrieval of his/her PDB report by SuranceBay.
        I have documented the producer's verbal or written consent.
      </p>
      <p>Your company covers [[PLACEHOLDER]] of the NIPR fee for the PDB report.
      </p>
      <p>By clicking “I accept” you hereby acknowledge that you have read and understood the
        above, and that you consent to and authorize us to obtain [[FULL NAME]]'s PDB report from NIPR.
    </form>
  </ng-template>
</div>

<div *ngIf="scrolled; then reveal">
  <ng-template #reveal>
    <button mat-button>Test</button>
  </ng-template>
</div>
