/* https://github.com/angular/flex-layout/wiki/Responsive-API */
@mixin hide-xs {
  @media screen and (max-width: 599px) {
    & {
      display: none;
    }
  }
}

@mixin hide-sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    & {
      display: none;
    }
  }
}

@mixin hide-md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    & {
      display: none;
    }
  }
}

@mixin hide-lg {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    & {
      display: none;
    }
  }
}

@mixin hide-xl {
  @media screen and (min-width: 1920px) and (max-width: 5000px) {
    & {
      display: none;
    }
  }
}

@mixin hide-lt-sm {
  @media screen and (max-width: 599px) {
    & {
      display: none;
    }
  }
}

@mixin hide-lt-md {
  @media screen and (max-width: 959px) {
    & {
      display: none;
    }
  }
}

@mixin hide-lt-lg {
  @media screen and (max-width: 1279px) {
    & {
      display: none;
    }
  }
}

@mixin hide-lt-xl {
  @media screen and (max-width: 1919px) {
    & {
      display: none;
    }
  }
}

@mixin hide-gt-xs {
  @media screen and (min-width: 600px) {
    & {
      display: none;
    }
  }
}

@mixin hide-gt-sm {
  @media screen and (min-width: 960px) {
    & {
      display: none;
    }
  }
}

@mixin hide-gt-md {
  @media screen and (min-width: 1280px) {
    & {
      display: none;
    }
  }
}

@mixin hide-gt-lg {
  @media screen and (min-width: 1920px) {
    & {
      display: none;
    }
  }
}
