/*
 * THIS FILE IS SAFE TO IMPORT IN OTHER FILES
 * (LIKE COMPONENTS) TO REUSE COMMON PALETTES.
 *
 * DO NOT IMPORT ~@angular/material/theming IN OTHER PLACES.
 */

@import '../../../node_modules/@angular/material/theming';
@import 'resposive';

$crm-dark-liver: (
  50: #eaeaec,
  100: #cbcace,
  200: #a8a7ae,
  300: #85838e,
  400: #6b6975,
  500: #514e5d,
  600: #4a4755,
  700: #403d4b,
  800: #373541,
  900: #272530,
  A100: #977ffc,
  A200: #6f4dfb,
  A400: #4516ff,
  A700: #3200fc,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$crm-primary   : mat-palette($crm-dark-liver);
$crm-accent    : mat-palette($mat-cyan, 500, A200, A700);
$crm-warn      : mat-palette($mat-orange, 500, A200, A700);
$crm-error     : mat-palette($mat-red);
$crm-theme     : mat-light-theme($crm-primary, $crm-accent, $crm-error);
$crm-foreground: map-get($crm-theme, foreground);
$crm-background: map-get($crm-theme, background);
$crm-typography: mat-typography-config();
$crm-brand-font: 'Titillium Web', sans-serif;
