/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($crm-theme);

/*
 * DEFAULT GLOBAL CSS SETTINGS
 */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;

  // Allows to add padding and border to HTML elements without increasing their size.
  box-sizing: border-box;
}

// Inherit box-sizing: border-box; from our <html> selector
// Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector.
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black-87-opacity;
  background-color: mat-color($crm-background, background);
  font-family: mat-font-family($crm-typography);
  font-size: mat-font-size($crm-typography, input);
  height: 100%;
  margin: 0;
}
